<div class="row">
<div class="card col-5 mr-4 shadow">
  
  <img src="{{user.imgPath}}"   alt="" style=" border-radius:50%; margin: 20px  0 20px 170px;height:200px;width:200px;" >
<div>
  <h2  class="ml-2">Perfil de {{user.username}}</h2><br>

</div>
<h2>Datos de contacto:</h2>
<h3>{{user.email}}</h3>
<h3>{{user.phone}}</h3>
<p>{{user}}</p>

<h2>Comment profile</h2>
<form action="/coment/{{user.id}}" method="post" enctype="multipart/form-data" id="{{ this._id }}">
  <input type="hidden" value="{{ this._id }}" name="id">
  <input type="text" name="name">
  <input type="file" name="photo">
  <input type="submit" value="Save">
</form>
</div>



<div class=" col-5 ml-4" style="overflow: scroll; height:600px">
  {{#each user.allMyProducts}}
  <div class="card  shadow" >
  {{this}}
  <img src="{{this.imgPath}}" alt="">
  <div>
  {{/each}}
</div>
</div>
</div>

<div class="row">
  <div class="col-12">


  {{user.comments}}
<div class="card" style="width: 18rem;">
  {{#each user.comments}}

  <h3>Soy un comentario {{ this.name }} {{this._id}}</h3>
  <img src="{{ this.path }}" alt="{{ this.originalName }}" />
  <form action="/coment/{{this._id}}/delete" method="post">
    <button>Delete coment {{this._id}}</button>
  </form>

  <h2>Edita tu comentario</h2>

  <form action="/coment/{{this._id}}/edit" method="post" enctype="multipart/form-data">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" value="polo">
  <input type="file" name="photo">
    <button type="submit">Send</button>
  </form>
</div>
  {{/each}}






  </div>
</div>