
<form action="/products/{{_id}}/edit" method="POST" enctype="multipart/form-data">

  <label for="name">name: </label>
  <input type="text" name="name" id="name" value="{{name}}">
  <label for="description">description: {{this}}</label>
  <input type="text" name="description" id="description" value="{{this.description}}">

  <img class="card-img-bottom" src="{{this.imgPath}}" alt="Card image cap">
  <label>Poster</label>
  <input type="file" name="photo">
  <input type="text" name="Pos" id="Pos" value="{{Pos}}">
  <input type="text" name="lat" id="lat" value="{{lat}}">
  <input type="text" name="lng" id="lng" value="{{lng}}">
  <input type="hidden" name="author" id="author" value="jamon">
  <button type="submit">Add product</button>
</form>

  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>



  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <script src="/javascripts/findMap.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0HUgfditDr8NvZjsnOmJYIwcP6AWVTqw&libraries=places&callback=initAutocomplete"></script>
 
