
  <div class="container">
    <div class="row" >
      <p class="p-3 m-3 btn-danger" ><input type="checkbox" name="filtro1" id="filtro1"> Filtro vegano</p>
      <p class="p-3 m-3 btn-danger" ><input type="checkbox" name="filtro2" id="filtro2"> Filtro vegetariano</p>
      <p class="p-3 m-3 btn-danger" >Tipo de comida   <select name="typeFood" id="typeFood">
   <option value="Americana">Americana</option> 
   <option value="China">China</option> 
   <option value="Española">Española</option>
   <option value="India">India</option> 
   <option value="Italiana">Italiana</option> 
   <option value="Japonesa">Japonesa</option> 
   <option value="Turca">Turca</option> 
   <option value="Mexicana">Mexicana</option> 
</select></p>
    </div>
  <div class="row">
    <div class="col-4" >
  <h2>Productos</h2>
  <input type="text" id="localizacion" value="test">
  <div style="
            overflow:scroll;
            height:500px;
            width:100%;" id="onView">
{{#each Product}}
  <div class="card mt-3">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text"><a href="/products/{{_id}}">Show details</a><a href="/products/{{_id}}/edit">Edit movie</a><br>{{description}}</p>
    <p class="card-text"><small class="text-muted">{{updated_at}}</small></p>

  <form action="/products/{{_id}}/delete" method="post">
    <button>Delete movie</button>
  </form> 
  </div>
  <img class="card-img-bottom" src="{{this.imgPath}}" alt="Card image cap">
</div>
{{/each}}
</div>
    <a class="p-3 m-3 nav-link active" href="/products/new">Nuevo Producto</a>

</div>
<div class="col-8">
  <h3>My First Mapa</h3>
  <div id="map"></div>


</div>
</div>
</div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0HUgfditDr8NvZjsnOmJYIwcP6AWVTqw"></script>
  <script src="/javascripts/script.js"></script>