<h2>Food details</h2>

  <img class="card-img-bottom" src="{{imgPath}}" alt="Card image cap">
<h2>Nombre del tupper: {{name}}</h2>
<h2>Nombre del chef: {{author.username}}</h2>
<h2>Tipo de comida: {{typeFood}}</h2>
<h2>Kcalorias del plato: {{kcal}}</h2>

<p>Descripción del plato: {{description}}</p>
{{#each ingredients}}
{{ingredients}}
{{this}}
  {{/each}}

  {{#each comments}}
{{this.text}}
  {{/each}}

<div id="pep" style="width: 100%;
   height: 400px;
   background-color: grey;"></div>
<input type="hidden" id="lat" value="{{lat}}">
<input type="hidden" id="lng" value="{{lng}}">

    <script>
   console.log(Lat)
   var Lng =   +document.querySelector("#lng").value
   var Lat =   +document.querySelector("#lat").value
// Initialize and add the map
function initMap() {
  var uluru = {lat: Lat, lng: Lng};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('pep'), {zoom: 4, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
    </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0HUgfditDr8NvZjsnOmJYIwcP6AWVTqw&callback=initMap"></script>
